// COLORS

$color-primary-light: #87CEFA;
$color-primary-dark: #0074c8;
$color-primary-unique: #00286f;

// $color-admin-tap: #EC5578;
$color-admin-tap: #F9A602;
$color-admin-tap-1: #15AB00;
// $color-admin-tap-1: #FF7F50;
// $color-admin-tap-2: #0E4D92;
$color-admin-tap-2: #FF7F50;


$color-white: #fff;

