.login-box {

    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: 10rem;
    background-color: #f7f6f6;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.signup-box {

    padding-left: 1rem;
    padding-right: 1rem;
    // margin-left: 30rem;
    // // margin-right: 20rem;
    // margin-top: 2rem;
    margin: 0 auto;
    background-color: #f7f6f6;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}