<header class="admin">

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-3 margin-big text_justify pl-5">

            <div class="card text-center text-white" id="admin-tap">
                <div>
                    <h5 class="card-title t_size-big">Total Applied Affiliations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title t_size-bigger"><i class="fas fa-folder medium-image"></i> {{ totalAffiliation }}</h3>
                </div>
            </div>

        </div>

        <div class="col-md-3 margin-big text_justify pl-5">

            <div class="card text-center text-white" id="admin-tap-1">
                <div>
                    <h5 class="card-title t_size-big">Approved Affiliations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title t_size-bigger"><i class="fas fa-folder medium-image"></i> {{ totalAffiliationApproved }}</h3>
                </div>
            </div>

        </div>

        <div class="col-md-3 margin-big text_justify pl-5">

            <div class="card text-center text-white" id="admin-tap-2">
                <div>
                    <h5 class="card-title t_size-big">Pending Affiliations</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title t_size-bigger"><i class="fas fa-folder medium-image"></i> {{ totalAffiliationPending }}</h3>
                </div>
            </div>

        </div>

        <div class="col-md-1"></div>

    </div>

    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-3 margin-big text_justify pl-5">

            <div class="card text-center mb-3 text-white" id="admin-tap">
                <div>
                    <h5 class="card-title t_size-big">Total Programmes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title t_size-bigger"><i class="fas fa-folder medium-image"></i> {{ totalMounting }}</h3>
                </div>
            </div>

        </div>

        <div class="col-md-3 margin-big text_justify pl-5">

            <div class="card text-center text-white mb-3" id="admin-tap-1">
                <div>
                    <h5 class="card-title t_size-big">Approved Programmes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title t_size-bigger"><i class="fas fa-folder medium-image"></i> {{ totalMountingApproved }}</h3>
                </div>
            </div>

        </div>

        <div class="col-md-3 margin-big text_justify pl-5">

            <div class="card text-center text-white mb-3" id="admin-tap-2">
                <div>
                    <h5 class="card-title t_size-big">Pending Programmes</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title t_size-bigger"><i class="fas fa-folder medium-image"></i> {{ totalMountingPending }}</h3>
                </div>
            </div>

        </div>

        <div class="col-md-1"></div>

    </div>
</header>