{% extends 'base_mount.html' %}

{% block content %}

<header class="home">
    <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-9 margin-big text_justify pl-5">

            <div class="alert alert-info mb-5" role="alert">
                <h2><p class="mb-4">Laboratories and Workshops</p></h2>
                <p>Please list the detials of your laboratories and workshops associated to the programme. You may skip this section if your programme does not require laboratories or Workshops.</p>


            </div>

            <div class="card">
                <div class="card-header text-center">LABORATORIES AND WORKSHOPS</div>
                <div class="card-body">

                        <form method="POST" action="#" id="add_workshop" name="add_workshop">
                            {% csrf_token %}
                            <div class="table-responsive">
                                <table class="table table-hover "  id="dynamic_workshop">

                                    <tr>
                                        <td>
                                            <div class="margin-bottom-small">
                                                <label for="mentor">Type of Laborary / Workshop</label>
                                                <input type="text" class="form-control" id="lab_type" name="lab_type" placeholder="Type of Laborary">
                                            </div>
                                            
                                        </td>

                                        <td>
                                            <label for="mentor_programme">Name of Fixed Item / Tool</label>
                                            <input type="text" class="form-control" id="fixed_item" name="fixed_item" placeholder="Name of Fixed Item">
                                        </td>

                                        <td>
                                            <label for="mentor_programme">Quantity of Fixed Item</label>
                                            <input type="text" class="form-control" id="quantity_of_fixed_item" name="quantity_of_fixed_item" placeholder="eg. 5">
                                        </td>


                                        <td>
                                            <label for="mentor_programme">Name of Consummable</label>
                                            <input type="text" class="form-control" id="consummable" name="consummable" placeholder="Name of Consummable">
                                        </td>

                                        <td>
                                            <label for="mentor_programme">Quantity of Consummable</label>
                                            <input type="text" class="form-control" id="quantity_of_consummable" name="quantity_of_consummable" placeholder="eg. 5">
                                        </td>


                                        <td>
                                            <input type="button" value="Add new entry" name= "add_lab" id="add_lab" class="btn btn-success color-text-white btn-bottom-small">
                                        </td >
                                    </tr >

                                </table>

                                <!-- <input type="submit" name="submit" id="submit"  value="Save & Continue" class="btn btn-primary color-text-white mt-3 pl-4 pr-4">
                                <input type="submit" name="submit" id="submit"  value="Save & Exit" class="btn btn-primary color-text-white mt-3 pl-4 pr-4"> -->

                                <div class="row">
                                    <div class="col-md-2 offset-md-6">
                                        <div class="row mr-auto">
                                            <!-- <input type="submit" value="Proceed" class="btn btn-primary btn-block color-text-white mb-5 mt-5 u-border-radius-small" href="{% url 'institution' %}"> -->
                                            <input type="submit"  id="submit_workshop" value="Save & Continue" class="btn btn-primary btn-block color-text-white mb-5 mt-5">
                                        </div>
                                    </div>

                                    <div class="col-md-2 ">
                                        <div class="row mr-auto">
                                            <!-- <input type="submit" value="Proceed" class="btn btn-primary btn-block color-text-white mb-5 mt-5 u-border-radius-small" href="{% url 'institution' %}"> -->
                                            <!-- <input type="submit"  id="submit_workshop" value="Save & Continue" class="btn btn-primary btn-block color-text-white mb-5 mt-5"> -->
                                            <a href="{% url 'examination_unit' %}" class="btn btn-primary btn-block color-text-white mb-5 mt-5">Skip</a>
                                        </div>
                                    </div>
                
                                </div>

                            </div>
                        </form>

                </div>
            </div>

        </div>

        <div class="col-md-1"></div>

    </div>
</header>

{% endblock %}